# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=cicil
DB_USER=cicil_user
DB_PASSWORD=secure_password

# JWT
JWT_SECRET=rahasia-super-jwt-anda-minimal-32-karakter
JWT_REFRESH_SECRET=rahasia-refresh-token-anda-minimal-32-karakter
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Server
PORT=3000
NODE_ENV=development